{% extends 'base.html'%}

{% block head %}
{% endblock %}

{% block body%}
<div class="back">
  <div class="box">
    <!-- <div class = "container"> -->
      <h1 class="text-center">Hey! No Snooping!</h1>
      
      <p>
          {%with messages = get_flashed_messages()%}
            {% if messages %}
              <ul>
                  {% for message in messages%}
                  <li>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}  
      </p>
      <form class="p-3 text-center" action="/" method="POST" enctype="multipart/form-data">
          
        <div>
          <label for="imageFile" class="form-label">Authorised User Image: (Used to recognise the rightful user.)
            <input class="form-control" type="file" name="imageFile" autocomplete="off" required>
          </label>
        </div>
          <div>
            <label for="scareFile" class="form-label">Scare Image: (Used to scare busybodies.)
              <input class="form-control" type="file" name="scareFile" autocomplete="off" required>
            </label>
          </div>
          <input class="btn btn-primary mt-3" id= "thebutton" type="submit" value="Upload Image and Begin">
      </form> 
  </div>
</div>
{% endblock %}